.row
	article.modulo.grid_1
		h3 Localização
		h4 Millenium centro de convenções
		p Rua Dr. Bacelar, 1043 - Vila Clementino - São Paulo/SP

	article.modulo.grid_1
		h3 Mais informações
		h4 Tel/Fax: (11) 2149-0394
		p Email: inscricao_eventos@cte.com.br

	article.modulo.grid_2
		h3 Hotéis e flats próximos ao local do evento
		.row	
			.grid_1
				markdown:
					**GreenPlace Flat**  
					Rua Dr. Diogo de Faria, 1201 Vila Mariana  
					Tel: 55 (11) 5081-9150  
					www.greenplaceflat.com.br

			.grid_1
				markdown:
					**Mercure Grand Hotel Parque do Ibirapuera**  
					Rua Sena Madeureira,1355 Vila Clementino  
					Tel: (11) 5574-1100  
					www.mercure.com.br

		.row
			.grid_1
				markdown:
					**Travel Inn Ibirapuera**  
					Rua Borges Lago, 1209 Vila Clementino  
					Tel: (11) 5080-8600  
					www.mercure.com.br
			.grid_1
				markdown:
					**Hotel Sol Bienal Ibirapuera**  
					Rua Sena Madeureira,1225 Vila Clementino  
					Tel: 55 (11) 5088-7999  
					www.tsuebienal.com.br

.row
	erb:
		<iframe class="grid_4" height="360" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Rua+Dr.+Bacelar,+1043+-+Vila+Clementino+-+S%C3%A3o+Paulo%2FSP&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=35.410182,70.3125&amp;ie=UTF8&amp;hq=Rua+Dr.+Bacelar,+1043+-&amp;hnear=Vila+Clementino,+S%C3%A3o+Paulo,+Brazil&amp;t=m&amp;ll=-23.603657,-46.648226&amp;spn=0.015176,0.009331&amp;output=embed"></iframe>