.row
	article.modulo.grid_1
		h3 Localização
		h4 Millenium centro de convenções
		p Rua Dr. Bacelar, 1043 - Vila Clementino - São Paulo/SP

	article.modulo.grid_1
		h3 Mais informações
		h4 Tel/Fax: (11) 2149-0394
		p Email: inscricao_eventos@cte.com.br

	article.modulo.grid_2
		h3 Hotéis e flats próximos ao local do evento
		.row	
			.grid_1
				markdown:
					**GreenPlace Flat**  
					Rua Dr. Diogo de Faria, 1201 Vila Mariana  
					Tel: 55 (11) 5081-9150  
					www.greenplaceflat.com.br

			.grid_1
				markdown:
					**Mercure Grand Hotel Parque do Ibirapuera**  
					Rua Sena Madeureira,1355 Vila Clementino  
					Tel: (11) 5574-1100  
					www.mercure.com.br

		.row
			.grid_1
				markdown:
					**Travel Inn Ibirapuera**  
					Rua Borges Lago, 1209 Vila Clementino  
					Tel: (11) 5080-8600  
					www.mercure.com.br
			.grid_1
				markdown:
					**Hotel Sol Bienal Ibirapuera**  
					Rua Sena Madeureira,1225 Vila Clementino  
					Tel: 55 (11) 5088-7999  
					www.tsuebienal.com.br

.row
	erb:
		<iframe class="grid_4" height="360" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=R.+Sena+Madureira,+1355+-+Vila+Mariana,+S%C3%A3o+Paulo,+04021-051,+Brazil&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=38.775203,61.611328&amp;ie=UTF8&amp;geocode=FVIAmP4d8DY4_Q&amp;split=0&amp;hq=&amp;hnear=R.+Sena+Madureira,+1355+-+Vila+Mariana,+S%C3%A3o+Paulo,+04021-051,+Brazil&amp;ll=-23.592878,-46.647568&amp;spn=0.010973,0.015042&amp;t=m&amp;z=14&amp;output=embed"></iframe>