markdown:
	### 1. INSCRIÇÃO E PAGAMENTO
	Para se inscrever neste evento, preencha o formulário ao lado com todos os dados requisitados e selecione a respectiva categoria (Profissional, Cliente CTE ou Associado de Entidades). Para processar  inscrição, clique no botão *“Finalizar inscrição”*.  
	Caso queira inscrever mais um participante da mesma empresa, antes de finalizar a primeira inscrição, clique no botão *"Adicionar outra inscrição”*, preencha os campos “Nome para Crachá”, “Profissão’ e “Cargo” do segundo inscrito e clique no botão *“Finalizar inscrição”*.  
	Você verá a tela *“inscrição enviada”*, com o valor de sua inscrição. Para acessar o sistema do Itaú Shopline e gerar o boleto para pagamento ou efetuar a transferência online, clique no botão *"Acessar Itaú Shopline”*.  
	O pagamento da inscrição deverá ser efetuado por meio de boleto bancário (todos os bancos) ou crédito em conta (apenas se for cliente Itaú).  

	No caso de dúvidas, entre em contato conosco:  
	**Tel/ Fax:** (11) 2149-0394  
	**Email:** inscricao_eventos@cte.com.br
	
	### 2. CONFIRMAÇÃO DE INSCRIÇÃO
	A confirmação da inscrição será enviada por e-mail após o recebimento da confirmação do pagamento pelo Banco.
	 
	### 3. DATA LIMITE PARA INSCRIÇÕES VIA SITE – 03/09/13
	 
	### 4. POLÍTICA DE DESCONTO
	**Parceiros:** 10% desconto. Enquadram-se nessa categoria associados das instituições apoiadoras do evento. O desconto será concedido/confirmado somente àqueles que enviarem a cópia do comprovante de associado junto com a ficha de inscrição e o respectivo comprovante de pagamento.  
	**Empresas:** Empresas que inscreverem três ou mais colaboradores terão 10% de desconto no valor total a pagar.  
	**Obs:** Os descontos NÃO são cumulativos.
	 
	### 5. INSCRIÇÕES NO DIA/LOCAL DO EVENTO – somente se houver vaga disponível.
	- As formas de pagamento aceitas no local serão cheque ou dinheiro.
	- Pagamento em nome da empresa para obtenção de recibo só será aceito mediante apresentação de autorização por escrito.
	 
	### 6. SUBSTITUIÇÕES OU CANCELAMENTOS
	**6.1.** Em caso de substituição do participante, comunicar em até um dia antes da data do evento.
	
	**6.2.** Os pedidos de cancelamento solicitados por e-mail ou fax até **03/09/13** terão ressarcimento de 80% do valor da inscrição. Após esta data, serão aceitas somente substituições, mediante comunicado formal da empresa por e-mail ou fax. O não comparecimento do participante ao evento não implicará no cancelamento automático da inscrição ou reembolso do valor pago previamente. Não haverá reembolso no caso do participante não comparecer no dia do evento.
	 
	**6.3.** O CTE não se responsabiliza por solicitação de inscrições não recebidas por motivos de ordem técnica, falha de comunicação, congestionamento nas linhas de comunicação, falta de energia elétrica, bem como outros fatores de ordem técnica que impossibilitem a transmissão do fax.
	 
	**6.4.** Em caso de cancelamento do evento, serão devolvidos os valores pagos.

	**6.5.** Os palestrantes e temas das palestras deste evento foram confirmados até o momento da publicação da programação, entretanto, por circunstâncias que fogem ao controle da empresa organizadora, é possível que haja alguma substituição, alteração ou cancelamento de palestrantes e/ou tópicos. Caso seja necessário, o CTE reserva-se o direito de alterar ou modificar os palestrantes e/ou temas anunciados. Qualquer substituição ou alteração será informada no nosso site assim que possível.

	### 7. ESTACIONAMENTO
	Não incluso no valor da inscrição.
	 
	### INFORMAÇÕES
	**Tel/ FAX:** (11) 2149-0394  
	**Email:** [inscricao_eventos@cte.com.br](mailto:inscricao_eventos@cte.com.br)
 
	*Horário de atendimento da secretaria do evento: de segunda a sexta-feira, das 10h às 17h.
