- # encoding: UTF-8
h2 Inscrição enviada
= render partial: "valores"

p 
	| Seus dados foram enviados.
p 
	| Clique no botão abaixo para acessar o sistema do Itaú Shopline e gerar o boleto para pagamento ou efetuar a transferência online.

= link_to "Acessar Itaú Shopline", "https://shopline.itau.com.br/shopline/shopline.aspx?DC=#{@itau_crypto}", class: "btn btn-primary", target: "BLANK"