- if inscricoes_abertas?
	.row
		.grid_2
			.row
				= render "tabela_de_precos"
			.row
				.grid_2.instrucoes-de-inscricao.modulo style="height: auto"
					
					h2 Como se inscrever
						
					p.lead Leia atentamente as instruções abaixo, preencha o formulário ao lado e efetue o pagamento.

					= render "regulamento"

		.grid_2 style="height: auto"
			.alert.alert-warning style="margin-bottom: 24px; height: auto"
				markdown: 
					Se sua empresa deseja inscrever 3 ou mais colaboradores neste evento, não preencha o formulário abaixo. Efetue as inscrições diretamente com a Secretaria de Eventos CTE pelo fone **(11)2149-0394** ou pelo email
					[inscricao_eventos@cte.com.br](mailto://inscricao_eventos@cte.com.br).  
					Neste caso, sua empresa terá 10% de desconto no valor total.

			= render "formulario"
			
- else
	.row
		.instrucoes-de-inscricao.grid_3
			h2 INSCRIÇÕES VIA SITE ENCERRADAS 

			markdown:
				**Não serão aceitas inscrições no dia/local do evento.**

				### 1. CONFIRMAÇÃO DE INSCRIÇÃO

				
				A confirmação da inscrição será enviada por e-mail após o recebimento da confirmação do pagamento pelo Banco.


				### 2. INSCRIÇÕES NO DIA/LOCAL DO EVENTO - Não serão aceitas

				### 3. POLÍTICA DE DESCONTO
				
				**Parceiros:** 10% desconto. Enquadram-se nessa categoria associados das instituições apoiadoras do evento. O desconto será concedido/confirmado somente àqueles que enviarem a cópia do comprovante de associado junto com a ficha de inscrição e o respectivo comprovante de pagamento.
				
				**Empresas:** Empresas que inscreverem três ou mais colaboradores terão 10% de desconto no valor total a pagar.
				
				**Obs:** Os descontos NÃO são cumulativos.

				### 4. SUBSTITUIÇÕES OU CANCELAMENTOS


				**4.1.** Em caso de substituição do participante, comunicar em até um dia antes da data do evento.

				**4.2.** Os pedidos de cancelamento solicitados por e-mail ou fax até **03/09/13** terão ressarcimento de 80% do valor da inscrição. Após esta data, serão aceitas somente substituições, mediante comunicado formal da empresa por e-mail ou fax. O não comparecimento do participante ao evento não implicará no cancelamento automático da inscrição ou reembolso do valor pago previamente. Não haverá reembolso no caso do participante não comparecer no dia do evento.

				**4.3.** O CTE não se responsabiliza por solicitação de inscrições não recebidas por motivos de ordem técnica, falha de comunicação, congestionamento nas linhas de comunicação, falta de energia elétrica, bem como outros fatores de ordem técnica que impossibilitem este recebimento.

				**4.4.** Em caso de cancelamento do evento, serão devolvidos os valores pagos.

				**4.5.** Os palestrantes e temas das palestras deste evento foram confirmados até o momento da publicação da programação, entretanto, por circunstâncias que fogem ao controle da empresa organizadora, é possível que haja alguma substituição, alteração ou cancelamento de palestrantes e/ou tópicos. Caso seja necessário, o CTE reserva-se o direito de alterar ou modificar os palestrantes e/ou temas anunciados. Qualquer substituição ou alteração será informada no nosso site assim que possível.

				### 5. ESTACIONAMENTO
				Não incluso no valor da inscrição.  

				**INFORMAÇÕES**  
				Tel/ FAX: (11) 2149-0394  
				Email:inscricao_eventos@cte.com.br  
				Horário de atendimento: de segunda a sexta-feira, das 10h às 17h  