//= require "bootstrap"
//= require "grid"

@font-face
	:font-family "Futura"
	:src url("FuturaStd-Light.otf")
	:font-weight 100

@font-face
	:font-family "Futura"
	:src url("FuturaStd-Book.otf")
	:font-weight 300

@font-face
	:font-family "Futura"
	:src url("FuturaStd-Heavy.otf")
	:font-weight 500

@font-face
	:font-family "Futura"
	:src url("FuturaStd-Bold.otf")
	:font-weight 700

@font-face
	:font-family "Futura"
	:src url("FuturaStd-Bold.otf")
	:font-weight 900

@font-face
	:font-family "Gudea"
	:src url("Gudea-Regular.ttf")


$amarelo: #f7cc52
$bege: #ffffef
$roxo: #532196
$preto: #666
$branco: #fff

.form-horizontal
	.control-group
		:clear both

		.control-label
			:width 120px
			:text-align left

		input
			:width 324px

		.controls
			:margin-left 0
			:float left

		&.two-fields
			input
				:width 120px
			.controls + .controls
				:margin-left 12px
				.control-label
					:width 60px

form
	.radio
		display: inline-block
		margin-bottom: 0
		vertical-align: middle

	.radio + .radio, .checkbox + .checkbox
		margin-left: 12px


html
	// :padding-bottom 80px

body
	:font-family "Gudea"
	:line-height 1.4
	// :background-image url("http://griddle.it/1008-4-24")

section.conteudo
	:min-height 400px

table
	td, th
		:text-align left
		:padding 6px

form.modulo
	:height auto

.price-table
	th
		:color $roxo

	td
		:font-style italic

	.column-1
		:width 150px
		:font-weight bold
		:font-style normal


.modulo, .chamada-evento, .carousel, table
	:border solid 1px $amarelo

.chamada-evento
	:width 490px
	:height 180px
	:position relative

.modulo
	:height 156px

.modulo, .caption
	p
		:margin-bottom 0

.carousel
	:margin-bottom 0px

.carousel-caption, .chamada-evento .caption
	:background-color transparentize($amarelo, 0.3)
	:width 70%
	:bottom 0px
	:left 0px
	:padding 12px
	:position absolute

.carousel-caption
	:color $preto

aside.modulo
	:height 360px

.inscreva-se
	:border solid 1px $amarelo
	:float right

article
	.modulo
		:height auto

.modulo.programacao
	:height auto

	p
		:margin 0

	ol
		:list-style-type none

	dl
		:background-color $bege

	h4
		:background-color $roxo
		:color $branco

	.panel > h4
		:padding 6px

	.talk
		:padding-top 12px
		:padding 6px

	dd, dt, dl
		:padding 3px

ol, li
	:margin 0

.dl-horizontal 
	:margin 6px 0
	dt
		:width auto
	dd
		:margin-left 0px

nav, h1, h2, h3, h4, h5, h6
	:font-family "Futura"
	:color $roxo
	:line-height 1.4
	:font-weight 300
	:margin 0

h1
	:font-size 24px
	:font-weight 100
	:margin 0
	:margin-bottom 12px
	:line-height 1.3

h3
	:font-size 16px
	:font-weight 500
	:color $roxo

h3, h4
	:text-transform uppercase

h4
	:font-size 10px
	:font-weight 300

footer
	:padding-top 12px
	:border-top 1px solid $amarelo

	nav
		:background-color $amarelo

		ul.nav, ul.nav-pills
			li a
				:border none
				:font-size 12px

nav
	:text-transform uppercase

.container_4
	:overflow hidden


header
	nav
		:border-top 1px solid $amarelo
		:border-bottom 1px solid $amarelo

nav
	ul.nav, ul.nav-pills
		li
			:margin 0	

			a
				:font-size 15px
				:border-radius 0
				:color $preto
				:border-right 1px solid $preto
				:margin 12px 0
				:height 13px
				:padding 0 24px

				&:hover
					:background-color transparent
					:font-weight 700

			&:first-child a
				:padding-left 0px

			&:last-child a
				:padding-right 0px
				:border-right 0

section
	:display block

header, section
	:overflow hidden

header
	:margin-bottom 12px

.nav
	:margin-bottom 0px

.logo
	:z-index 1
	:position relative