$amarelo: #f7cc52
$amarelo_claro: #ffffd9
$bege: #ecf3d6
$roxo: #532196
$preto: #666
$branco: #fff
$preto_total: #000
$vermelho: #a00
$verde: #94BF02
$verde_claro: #ecf3d6
$azul: #007398

// $cor_principal: $roxo 					// logo, titulos
// $cor_secundaria: $amarelo 				// detalhes, contornos
// $cor_secundaria_clara: $amarelo_claro // hover caixinhas

$cor_principal: $azul 					// logo, titulos
$cor_secundaria: $verde 				// detalhes, contornos
$cor_secundaria_clara: $verde_claro 	// hover caixinhas