@import "bourbon"

$gw-column: 234px
$gw-gutter: 24px

body
	min-width: 1008px

.container_4
	margin-left: auto
	margin-right: auto
	width: 1008px

.grid_1, .grid_2, .grid_3, .grid_4 
		
	display:inline
	float: left
	position: relative
	margin-left: 24px

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4 
	position:relative

.container_4 
	
	.row
		:margin-bottom 24px

	.row, ul.thumbnails
		:margin-left -24px

	ul.thumbnails > li 
		:margin-left 24px
		:margin-bottom 24px


	.modulo
		$offset: $gw-gutter + 2px
		padding: $gw-gutter/2

		&.grid_1 
			width: (grid-width(1) - $offset)

		&.grid_2 
			width: (grid-width(2) - $offset)

		&.grid_3 
			width: (grid-width(3) - $offset)

		&.grid_4 
			width: (grid-width(4) - $offset)


	.grid_1 
		width: grid-width(1)

	.grid_2 
		width: grid-width(2)

	.grid_3 
		width: grid-width(3)

	.grid_4 
		width: grid-width(4)


	.prefix_1 
		padding-left: 264px

	.prefix_2 
		padding-left: 528px

	.prefix_3 
		padding-left: 792px


	.suffix_1 
		padding-right: 264px

	.suffix_2 
		padding-right: 528px

	.suffix_3 
		padding-right: 792px


	.push_1 
		left:  264px

	.push_2 
		left: 528px

	.push_3 
		left: 792px


	.pull_1 
		left: -264px

	.pull_2 
		left: -528px

	.pull_3 
		left: -792px

.clear 
	clear: both
	display: block
	overflow: hidden
	visibility: hidden
	width: 0
	height: 0

.clearfix:before, .clearfix:after 
	content: '\0020'
	display: block
	overflow: hidden
	visibility: hidden
	width: 0
	height: 0

.clearfix:after 
	clear: both

.clearfix 
	zoom: 1