.row
	.modulo.grid_1
		markdown:
			### Assessoria de Imprensa
			**Tula Melo**  
			tulamelo@nomedarosa.com.br  
			(11) 99909-9650  
			(11) 3817-5000  

	.modulo.grid_2
		markdown:
			### Para imprensa
			Profissionais da imprensa que queiram participar do evento deverão  
			requisitar credencial com a assessoria de imprensa até o dia **10/05/2013**

			Estará aberta agenda, no dia e local do encontro, para entrevistas com os palestrantes.

/ .row
/ 	.grid_3
/ 		h2 Deu na mídia
/ 		p.lead Lorem ipsum, dolor sit amet.
